body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 1.4;
}

header {
    background-color: lavender ;
    border-bottom: 5px solid midnightblue;
    
}

header > h1,h2 {
    text-align: center;
}

header > h2 {
    text-transform: uppercase;
    color: midnightblue;
    font-size: 90%;
    font-weight: bold;
}

h3 {
    text-align: center;
    font-size: 25px;
}


blockquote {
    text-align: right;
    font-style: italic;
}

main {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0px 15px;
    margin-top: 10px;
}

section {
    padding-top: 15px;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

.highlight {
    color: midnightblue;
}

.backgroundcolor1 {
    background-color: lavender;
    padding: 20px 10px;
    border-radius: 15px;
    margin: 15px 0px;
}

.backgroundcolor2 {
    background: lemonchiffon;
    padding: 20px 10px;
    border-radius: 15px;
    margin: 15px 0px;
}

footer {
    background-color: midnightblue;
    color: white;
    text-align: center;
    padding-top: 15px;
    margin-top: 5%;
}

small {
    font-family: monospace;
    font-size: 15px;
}

.ScrittaDesktop 
{
    display: none;
}

@media screen and (min-width: 768px) 
{

    .box
    {
        display: flex;
        justify-content: space-around;
    }

    div[class^='backg']
    {
        width: 47%;
    }

    .ScrittaDesktop
    {
        display: block;
        background: purple;
        color: white;
        border: 2px black solid;
        text-align: center;
    }

    .ScrittaMobile
    {
        display: none;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li 
    {
        margin: 0.4em 0px;
    }

    .ScrittaDesktop:hover + ul li
    {
    opacity: 0%;
    animation: example 4s ease-in 1s 1 normal forwards;
    display: flex;
    justify-content: space-between;
    }

    @keyframes example 
    {
    from {opacity: 0%; width: 0;}
    to {opacity: 100%; width: 100;}
    from {background: auto;}
    to {background-color: aquamarine;}
    from {border-radius: 0px;}
    to {border-radius: 5px;}
    }
    
    li:nth-child(1) 
    {
        width: 100%;
    }
    li:nth-child(2) 
    {
        width: 100%;
    }

    li:nth-child(3) 
    {
        width: 80%;
    }
    li:nth-child(4) 
    {
        width: 60%;
    }
}